debug/
target/

Cargo.lock

# nodejs
node_modules

# diagram-editor
/diagram-editor/dist

# storybook
*storybook.log
storybook-static

# MacOS
.DS_Store

# python
.venv*/
__pycache__/
*.py[cod]
.pytest_cache/

#AI
.claude/