/* reactflow overrides */
/* see node_modules/@xyflow/react/dist/style.css */
.react-flow.dark {
  --xy-edge-stroke-default: var(--mui-palette-grey-700);
}
.react-flow__pane.draggable {
  cursor: default;
}
.react-flow__pane.dragging {
  cursor: grabbing;
}
.react-flow__handle {
  width: 8px;
  height: 8px;
  z-index: 10;
  transition:
    box-shadow 120ms ease,
    opacity 120ms ease,
    background-color 120ms ease,
    border-color 120ms ease;
}
.react-flow__handle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -150%;
  top: -100%;
}
.react-flow__handle.handle-data {
  background-color: var(--xy-handle-background-color-default);
}
.react-flow__handle.handle-buffer {
  background-color: var(--mui-palette-secondary-dark);
}
.react-flow__handle.handle-data-buffer {
  background: linear-gradient(
    -45deg,
    var(--mui-palette-secondary-dark) 50%,
    var(--xy-handle-background-color-default) 50%
  );
}
.react-flow__handle.handle-data-stream {
  background: linear-gradient(
    -45deg,
    var(--mui-palette-warning-dark) 50%,
    var(--xy-handle-background-color-default) 50%
  );
}
.react-flow__handle.connectionindicator {
  opacity: 1;
  border: 1px solid transparent;
  box-shadow: none;
}
.react-flow__handle.handle-compatible {
  border: 1px solid var(--mui-palette-success-main);
  box-shadow: 0 0 0 4px rgb(76 175 80 / 22%);
}
.react-flow__handle.handle-compatible:hover,
.react-flow__handle.valid {
  box-shadow: 0 0 0 6px rgb(76 175 80 / 30%);
  border-color: var(--mui-palette-success-main);
}
.react-flow__handle.handle-incompatible {
  opacity: 0.9;
  box-shadow: 0 0 0 6px rgb(244 67 54 / 24%);
  border-color: var(--mui-palette-error-main);
}
.react-flow__handle.connectingto:not(.valid) {
  opacity: 0.9;
  box-shadow: 0 0 0 6px rgb(244 67 54 / 24%);
  border-color: var(--mui-palette-error-main);
}
.react-flow__handle.connectingfrom {
  box-shadow: 0 0 0 6px rgb(33 150 243 / 18%);
}
